#ab-img{

height: 700px;
margin-top: 100px;
border-radius: 60%;

}

#abme {

text-align: center;
max-width: 1400px;
margin: 0 auto;
padding: 0px 100px;
padding-top: 100px;
background-color: white;

}

@media (max-width: 990px) {
  #abme .row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #abme .col-6 {
    width: 100%;
  }

  #ab-img {
    height: 600px;
    max-width: 80%;
    margin-top: 0px;

  }
}

@media (max-width: 600px) {

}