#ab-img {

  height: 700px;
  margin-top: 100px;
  border-radius: 60%;

}

#abme {

  text-align: center;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0px 100px;
  padding-top: 100px;
  background-color: white;

}

.btn{

background-color: rgb(57, 185, 185);

}

@media (max-width: 990px) {
  #abme .row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #abme .col-6 {
    width: 100%;
    min-width: 222px;
  }

  #ab-img {
    height: 600px;
    max-width: 80%;
    margin-top: 0px;

  }
}

@media (max-width: 750px) {
  #ab-img {

    height: 500px;
    border-radius: 60%;

  }

  #abme p,
  #abme .lead {
    font-size: 14px;
  }

  #abme h1 {
    font-size: 24px;
  }

  #abme .display-4 {
    font-size: 20px;
  }

  #abme .jumbotron {
    padding: 20px;
    font-size: 14px;
  }

  #abme .btn-lg {
    font-size: 14px;
    padding: 10px 20px;
  }

  #abme {

    padding: 0px 0px;
    padding-top: 100px;

  }

}

@media (max-width: 600px) {
  #ab-img {

    height: 50%;

  }

}