#contact{

  text-align: center;
  background-color: white;
  max-width: 1400px;
  margin: 0 auto;
  padding: 150px 0px;
  

}

#btn-con .btn{

  margin-right: 40px;
  border-radius: 20px;

}

#i_link{

width: 40px;
height: 40px;
margin-right: 300px;

}

#i_git{

width: 40px;
height: 40px;
margin-right: 300px;


}

#i_hml{

width: 40px;
height: 40px;
margin-right: 300px;


}



@media (max-width: 1400px) {
  .btn-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px; /* espacio entre los botones */
  margin-top: 30px;
}

#btn-con .btn{

  margin-right: 0px;

}

}

@media (max-width: 400px) {

  #i_link{

margin-right: 200px;

}

#i_git{

margin-right: 200px;

}

#i_hml{

margin-right: 200px;

}

}
